@import './variabili.scss';

@mixin listaOrizzontale {
    list-style-type: none;
    display: flex;
    
};

@mixin listaVerticale {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}